<div class="container">
    <h2>Avatar</h2>
    <h3>Nombre: </h3>
    <p [style.color]="colorNombre()" [style.font-size.px]="tamanoNombre()">{{ nombre() }}</p>
    <div class="canvas-avatar">
        <div class="cuerpo" [style.background-color]="colorFondo()" [style.width.px]="tamano()"
            [style.height.px]="tamano()">

            <div class="ojos">
                <div class="ojo">.</div>
                <div class="ojo">.</div>
                @if (tieneLentes()){
                <div class="lentes"></div>
                }
            </div>
            <div class="boca">
                @switch (tipoExpresion()){
                @case (1) {<div class="feliz"></div>}
                @case (2) {<div class="sorprendido"></div>}
                @case (3) {<div class="serio"></div>}
                }
            </div>
        </div>
    </div>
    <div class="controles">
        <label> Nombre:
            <input type="text" [value]="nombre()" (input)="cambiarNombre($event)">
        </label>

        <label> color del nombre:
            <input type="color" [value]="colorNombre()" (input)="cambiarColorNombre($event)">
        </label>

        <label> tamaño del nombre:
            <input type="range" min="10" max="100" [value]="tamanoNombre()" (input)="cambiarTamanoNombre($event)">
        </label>

        <label color> color de avatar:
            <input type="color" [value]="colorFondo()" (input)="cambiarColor($event)">
        </label>

        <label Tamaño>tamaño del avatar:
            <input type="range" min="100" max="300" [value]="tamano()" (input)="cambiarTamano($event)">
        </label>
        <button (click)="toggleLentes()">
            {{tieneLentes()? 'Quitar lentes' : 'Poner lentes'}} (Boolean)
        </button>
        <div class="expresiones">
            <p> Expresión </p>
            <button (click)="setExpresion(1)">feliz</button>
            <button (click)="setExpresion(2)">sorprendido</button>
            <button (click)="setExpresion(3)">serio</button>
        </div>
    </div>
</div>